<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>

<body>
  <div class="loginform">
    <h1 class="text-center text-primary mt-2 mb-4">Login</h1>
    <div class="container">
      <form [formGroup]="loginForm" (submit)="login()">
        <div class="form-group">
          <label for="email">Email address</label>
          <!-- Use formControlName to bind to the email form control -->
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Enter email"
          />
          <!-- Display validation error messages if the email control is invalid -->
          <div
            *ngIf="
              loginForm.get('email')?.invalid &&
              (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
            "
          >
            <div *ngIf="loginForm.get('email')?.hasError('required')">
              Email is required.
            </div>
            <div *ngIf="loginForm.get('email')?.hasError('email')">
              Invalid email address.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <!-- Use formControlName to bind to the password form control -->
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Password"
          />
          <!-- Display validation error messages if the password control is invalid -->
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
          >
            <div *ngIf="loginForm.get('password')?.hasError('required')">
              Password is required.
            </div>
          </div>
        </div>

        <br />

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
        <button type="button" class="btn btn-light" routerLink="/register">
          Don't have an Account
        </button>
      </form>
    </div>
  </div>
</body>
