<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>

<div class="loginform">
  <h1 class="text-center text-primary mt-2 mb-4">Login</h1>
  <div class="container">
    <form>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">

      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <br>
      <button type="button" class="btn btn-primary" routerLink="/admin/dashboard">Login</button>
      <button type="button" class="btn btn-light" routerLink="/register">Dont have an Account</button>
    </form>
  </div>
  
</div>


  
</body>