<div mat-dialog-title>
  <h1>Order Now!</h1>
</div>
<form [formGroup]="OrdersForm" (ngSubmit)="submitForm()">
  <mat-form-field>
    <mat-label>Type of Water</mat-label>
    <select matNativeControl required formControlName="TypeofWater">
      <option *ngFor="let product of products" [value]="product.id">
        {{ product.name }}
      </option>
    </select>
  </mat-form-field>

  <div class="row">
    <mat-form-field class="example-full-width">
      <mat-label>Number of Gallons</mat-label>
      <input
        matInput
        placeholder="1"
        required
        formControlName="NumberofGallons"
      />
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="OrdersForm.invalid">
      Order
    </button>
  </div>
</form>
