<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="card-group">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Total Customers</h1>
        <p class="card-text"><mat-icon>group</mat-icon>  0</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Total Orders</h1>
            <p class="card-text"><mat-icon>add_shopping_cart</mat-icon>  0</p>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Orders Delivered</h1>
            <p class="card-text"><mat-icon>assignment_turned_in</mat-icon>  0</p>
      </div>
      </div>
    </div>

    <br>
    <br>
    <h1>Area with  most Orders</h1>
    <div id="divPieChart"></div>